/NG.ServiceWorker.Android/bin
/NG.ServiceWorker.Android/obj
/NG.ServiceWorker.AppImages/bin
/NG.ServiceWorker.AppImages/obj
/NG.ServiceWorker.Base/bin
/NG.ServiceWorker.Base/obj
/NG.ServiceWorker.CoreServices.Android/bin
/NG.ServiceWorker.CoreServices.Android/obj
/NG.ServiceWorker.CoreServices.iOS/bin
/NG.ServiceWorker.CoreServices.iOS/obj
/NG.ServiceWorker.CoreServices.UWP/bin
/NG.ServiceWorker.CoreServices.UWP/obj
/NG.ServiceWorker.iOS/bin
/NG.ServiceWorker.iOS/obj
/NG.ServiceWorker.ServiceDefinitions/bin
/NG.ServiceWorker.ServiceDefinitions/obj
/NG.ServiceWorker.UI.AppControls/bin
/NG.ServiceWorker.UI.AppControls/obj
/NG.ServiceWorker.UI.AppViewModels/bin
/NG.ServiceWorker.UI.AppViewModels/obj
/NG.ServiceWorker.UI.AppViews/bin
/NG.ServiceWorker.UI.AppViews/obj
/NG.ServiceWorker.UWP/bin
/NG.ServiceWorker.UWP/obj
/NG.ServiceWorker/bin
/NG.ServiceWorker/obj
.vs
*.user
